.about {
    margin-bottom: 24px;
}

h3 {
    margin-top: 0;
}

h4 {
    margin: 8px;
}

.barber-image {
    position: relative;
    width: 100%;
    z-index: -1;
    margin-top: -40px;
}

@media (width <=740px) {
    .barber-image {
        margin-top: -20px;
    }
}