:root {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
  color: black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
